body {
  display: block;
  background: #EEE;
  color: #222;
  font-family: Helvetica Neue, Helvetica, Arial;
  padding: 0;
  margin: 0;
}
#startButtons {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 100px;
  background: rgba(0,0,0,0.8);
  text-align: center;

}
.startButton {
  display: inline-block;
  font-size: 36px;
  font-weight: 600;
  color: #FFF;
  text-align: center;
  cursor: pointer;
}
.startButton:hover {
  color: #3FF;
}
#chordName {
  position: absolute;
  left: 5px;
  top: 520px;
  font-weight: 600;
}
#chordScore {
  position: absolute;
  left: 5px;
  top: 540px;
  font-size: 10px;
}
#notenames {
  position: absolute;
  left: 0;
  top: 645px;
}
.notename {
  position: relative;
  display: inline-block;
  width: 85.5px;
  font-weight: 600;
  color: #999;
  text-align: center;
  pointer-events: none;
}
audio {
  margin-top: 50px;
}
